*.debhelper
*.la
*.lo
*.log
*.m4
*.pc
*.pyc
*.stamp
*.substvars
.deps
.libs
.cache
Makefile
Makefile.in
autom4te.cache
build
build-aux
config.log
config.status
configure
debian/autoreconf.after
debian/autoreconf.before
debian/files
debian/libunity-gtk-parser-dev
debian/libunity-gtk-parser-dev-common
debian/libunity-gtk-parser0
debian/libunity-gtk2-parser-dev
debian/libunity-gtk2-parser0
debian/libunity-gtk3-parser-dev
debian/libunity-gtk3-parser0
debian/tmp
debian/unity-gtk-module
debian/unity-gtk-module-common
debian/unity-gtk2-module
debian/unity-gtk3-module
docs/reference/unity-gtk-module/html
docs/reference/unity-gtk-module/xml
docs/reference/unity-gtk-module/unity-gtk-module-decl-list.txt
docs/reference/unity-gtk-module/unity-gtk-module-decl.txt
docs/reference/unity-gtk-module/unity-gtk-module-undeclared.txt
docs/reference/unity-gtk-module/unity-gtk-module-undocumented.txt
docs/reference/unity-gtk-module/unity-gtk-module-unused.txt
docs/reference/unity-gtk-module/unity-gtk-module.args
docs/reference/unity-gtk-module/unity-gtk-module.hierarchy
docs/reference/unity-gtk-module/unity-gtk-module.interfaces
docs/reference/unity-gtk-module/unity-gtk-module.prerequisites
docs/reference/unity-gtk-module/unity-gtk-module.signals
libtool
data/appmenu.desktop.plugin.in