Source: vala-panel-appmenu
Section: x11
Priority: optional
Maintainer: Konstantin P. <ria.freelander@gmail.com>
Build-Depends: cmake (>= 2.8.0),
               debhelper (>= 9),
               libbamf3-dev,
               libgtk-3-dev (>= 3.12.0),
               libmate-panel-applet-dev (>= 1.16),
               libwnck-3-dev (>= 3.4.0),
               libxfce4panel-2.0-dev,
               libxfconf-0-dev,
               valac (>= 0.24.0),
               xfce4-panel-dev (>= 4.11.2),
#vala-panel-dev               
Standards-Version: 3.9.8
Homepage: https://github.com/rilian-la-te/vala-panel-appmenu
Vcs-Git: https://github.com/rilian-la-te/vala-panel-appmenu.git
Vcs-Browser: https://github.com/rilian-la-te/vala-panel-appmenu

Package: xfce4-vala-panel-appmenu-plugin
Section: xfce
Architecture: any
Depends: bamfdaemon,
         vala-panel-appmenu-common (= ${source:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Recommends: appmenu-qt,
            appmenu-qt5,
            unity-gtk2-module,
            unity-gtk3-module,
Description: Application Menu plugin for xfce4-panel
 This is an Application Menu (Global Menu) plugin. It is built using
 the Unity protocol and libraries and provides all features found in
 the Unity implementation.
 .
 This package provides the plugin for XFCE. 

Package: xfce4-vala-panel-appmenu-plugin-dbg
Architecture: any
Priority: extra
Section: debug
Depends: xfce4-vala-panel-appmenu-plugin (= ${binary:Version}),
         ${misc:Depends},
Description: Debug symbols for xfce-panel Application Menu plugin
 This is an Application Menu (Global Menu) plugin. It is built using
 the Unity protocol and libraries and provides all features found in
 the Unity implementation.
 .
 This package provides debug symbols for the XFCE plugin.

Package: mate-applet-vala-panel-appmenu
Architecture: any
Depends: bamfdaemon,
         vala-panel-appmenu-common (= ${source:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Recommends: appmenu-qt,
            appmenu-qt5,
            unity-gtk2-module,
            unity-gtk3-module,
Description: Application Menu plugin for mate-panel
 This is an Application Menu (Global Menu) plugin. It is built using
 the Unity protocol and libraries and provides all features found in
 the Unity implementation.
 .
 This package provides the plugin for MATE.

Package: mate-applet-vala-panel-appmenu-dbg
Architecture: any
Priority: extra
Section: debug
Depends: mate-applet-vala-panel-appmenu (= ${binary:Version}),
         ${misc:Depends},
Description: Debug symbols for mate-panel Application Menu plugin
 This is an Application Menu (Global Menu) plugin. It is built using
 the Unity protocol and libraries and provides all features found in
 the Unity implementation.
 .
 This package provides debug symbols for the MATE plugin.

#Package: vala-panel-appmenu
#Architecture: any
#Depends: bamfdaemon,
#         vala-panel-appmenu-common (= ${source:Version}),
#         ${misc:Depends},
#         ${shlibs:Depends},
#Recommends: appmenu-qt,
#            appmenu-qt5,
#            unity-gtk2-module,
#            unity-gtk3-module,
#Description: Application Menu plugin for vala-panel
# This is an Application Menu (Global Menu) plugin. It is built using
# the Unity protocol and libraries and provides all features found in
# the Unity implementation.

#Package: vala-panel-appmenu-dbg
#Architecture: any
#Priority: extra
#Section: debug
#Depends: vala-panel-appmenu (= ${binary:Version}),
#         ${misc:Depends},
#Description: Debug symbols for vala-panel Application Menu plugin
# This is an Application Menu (Global Menu) plugin. It is built using
# the Unity protocol and libraries and provides all features found in
# the Unity implementation.
# .
# This package provides debug symbols for the vala-panel-appmenu

Package: vala-panel-appmenu-common
Architecture: all
Depends: ${misc:Depends},
Description: Common files for Application Menu plugins
 This is an Application Menu (Global Menu) plugin. It is built using
 the Unity protocol and libraries and provides all features found in
 the Unity implementation.
 .
 This package provides common files.
