Source: unity-gtk-module
Section: libs
Priority: optional
Maintainer: William Hua <william.hua@canonical.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, libgtk-3-dev
Standards-Version: 3.9.3
Homepage: https://code.launchpad.net/~attente/+junk/unity-gtk-module
#Vcs-Git: git://git.debian.org/collab-maint/unity-gtk-module.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/unity-gtk-module.git;a=summary

Package: unity-gtk-module
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GTK+ module for exporting old-style menus as GMenuModels
 Many applications implement menus as GtkMenuShells and GtkMenuItems
 and aren't looking to migrate to the newer GMenuModel API.

 This GTK+ module watches for these types of menus and exports the
 appropriate GMenuModel implementation.
